* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  /* Left & right - 10px, bottom - 20px */
  margin: 0 10px 20px;
}

/* main container */
.container {
  width: 500px;
  height: 500px;
  /* left - 20px */
  margin: 0 0 0 20px;
}

/* Класс який бере 100% висоти від батьківського елемента */
.h100 {
  height: 100%;
}

.bold-border {
  border: 30px solid brown;
}

.light-border {
  border: 5px solid lightsalmon;
}

/* рядок, який бере 100% від батьківського елемента і ділить його рівно на 8 частин в процентному відношенні (в данному випадку 500px / 8) */
.row {
  height: calc(100% / 8);
}

/* костиль який убирає пробіли між рядками наших тегов. Інший варік - писати діви без табуляції */
.fz0 {
  font-size: 0;
}

/* наша клітинка, яка має властивість інлайн-блокового елемента. Її ширина залежить так само від батьківської ширини і ділиться порівну. Висота вже є завдяки класу ".row". По факту у нас кожна клітинка біла і тому я задаю всього 2 псевдоселектора. На чотні та нечотні рядки, а їм вже кажу про чотні та нечотні клітинки */
.cell {
  display: inline-block;
  width: calc(100% / 8);
  height: 100%;
  background-color: #000;
}

.row:nth-child(even) .cell:nth-child(odd) {
  background-color: #fff;
}

.row:nth-child(odd) .cell:nth-child(even) {
  background-color: #fff;
}